.nav-register__list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.nav-register__link {
  text-decoration: none;
  transition: opacity 0.2s linear;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.nav-register__button {
  background-color: #2be080;
  width: 76px;
  height: 32px;
  border: 0;
  border-radius: 3px;
  color: black;
}

.nav-register__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .nav-register__link {
    font-size: 10px;
    line-height: 16px;
  }
}

@media screen and (max-width: 500px) {
  .nav-register__button {
    width: 54px;
    height: 26px;
  }
}

@media screen and (max-width: 500px) {
  .nav-register__list {
    gap: 14px;
  }
}
