.search {
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 79px 0 70px;
  padding: 60px 0 70px 0;
  max-width: 100%;
}

.search__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 42px;
  padding: 6px;
  background-color: #f9f9f9;
  border-radius: 40px;
}

.search__input {
  width: 100%;
  padding: 0 15px;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #f9f9f9;
}

.search__input:focus {
  outline: none;
  border-bottom: 1px solid #a0a0a0;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__button {
  margin-right: 4px;
  width: 64px;
  height: 34px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #3456f3;
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: 18px;
  transition: opacity 0.2s linear;
}

.search__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.search__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.search__error {
  color: #ff3055;
  margin-top: 6px;
  font-size: 10px;
  line-height: 12px;
}

.search__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.search__tumbler {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 14px;
  cursor: pointer;
}
.search__checkbox {
  display: none;
}

.search__slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: #c6c9c7;
  border-radius: 20px;
  transition: 0.6s;
}

.search__slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.6s;
}

.search__checkbox:checked + .search__slider {
  background-color: #2be080;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(20px);
}

@media screen and (max-width: 890px) {
  .search {
    margin: 0 37px 0 30px;
    padding: 75px 0 51px 0;
  }
}

@media screen and (max-width: 890px) {
  .search__input {
    font-size: 13px;
    line-height: 17px;
  }
}

@media screen and (max-width: 404px) {
  .search {
    margin: 0 19px 0 14px;
    padding: 75px 0 51px 0;
  }
}

@media screen and (max-width: 404px) {
  .search__button {
    min-width: 58px;
    height: 34px;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    margin-right: 6px;
  }
}
@media screen and (max-width: 404px) {
  .search__input {
    font-size: 11px;
    line-height: 17px;
    padding: 0 19px;
  }
}

@media screen and (max-width: 404px) {
  .search__text {
    font-size: 11px;
    line-height: 18px;
  }
}
