.register {
  width: 396px;
  max-height: 100vh;
  margin: 70px auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.register__logo {
  width: 38px;
  transition: opacity 0.2s linear;
  padding-bottom: 40px;
}

.register__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.register__form {
  width: 100%;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 34px;
}

.register__title {
  padding-top: 40px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.register__button {
  color: #fff;
  background-color: #3456f3;
  width: 100%;
  height: 45px;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
}
.register__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.register__inputs-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.register__input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 10px;
  margin: 0;
}

.register__input:focus {
  outline: none;
  border-bottom: 1px solid #3456f3;
}

.register__input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.register__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  color: #a0a0a0;
}

.register__text-lable {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #a0a0a0;
  text-align: left;
  margin: 0;
}

.register__error-lable {
  color: #ff3055;
  margin-top: 6px;
}

.register__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3456f3;
}

.register__text-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

@media screen and (max-width: 780px) {
  .register {
    margin: 232px auto;
  }
}

@media screen and (max-width: 500px) {
  .register {
    margin: 56px auto;
    width: 260px;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .register__title {
    padding-top: 5px;
  }
}

@media screen and (max-width: 500px) {
  .register__form {
    padding-top: 80px;
    min-height: 468px;
  }
}

@media screen and (max-width: 500px) {
  .register__button {
    font-size: 12px;
    line-height: 15px;
  }
}

@media screen and (max-width: 500px) {
  .register__text {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 500px) {
  .register__link {
    font-size: 12px;
    line-height: 15px;
  }
}
